<table>
  <tr>
    <th>Cliente</th>
    <th>Início</th>
    <th>Fim</th>
    <th>Endereço</th>
  </tr>
  <%= render @contracts if @contracts %>
  <%= render partial: 'layouts/no_data', locals: { model: Contract } if @contracts.blank? %>
</table>
