<table class='table table-striped  table-bordered table-hover'>
  <tr>
    <th>Cliente</th>
    <th>Início</th>
    <th>Fim</th>
    <th>Endereço</th>
  </tr>
  <%= render @contracts if @contracts %>
  <%= render partial: 'no_data', locals: { model: Contract, columns: 4 } if @contracts.blank? %>
</table>
