<h1>Contratos</h1>
<table class='table table-striped table-bordered table-hover'>
  <tr>
    <th>Nº do contrato</th>
    <th>Cliente</th>
    <th>Início</th>
    <th>Fim</th>
    <th>Prazo</th>
    <th>Valor</th>
    <th></th>
  </tr>
  <% @contracts.each do |contract| %>
    <%= render contract %>
  <% end %>
  <%= render partial: 'no_data', locals: { model: 'Contrato', columns: 5 } if @contracts.blank? %>
</table>
