<h1>Lista de Equipamentos</h1>

  <table class='table table-striped table-bordered table-hover'>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
    </tr>
    <tr>
      <% if @equipment.empty? %>
        <td colspan="2"><%= flash[:alert] = 'Não há equipamentos cadastrados' %></td>
      <% else %>
        <% @equipment.each do |equipment| %>
            <td><%= equipment.name %></td>
        <% end %>
      <% end %>
    </tr>
  </table>
