<h1>Lista de Equipamentos</h1>
<% if @equipment.empty? %>
  <%= flash[:alert] = 'Não há equipamentos cadastrados' %>
  <% else %>
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Preço</th>
    </tr>
    <% @equipment.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.price %></td>
      </tr>
    <% end %>
  </table>
<% end %>
